/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_medias.scss";
@import "_font.scss";
@import "_var.scss";
@import "_elements.scss";

@media only screen and (orientation : landscape) {
    body{
		color: black;
	}
}
@media only screen and (orientation : portrait) {
    body{
		color: white;
	}
}
@media only screen and (min-width : $m-mobile) {
    body{
		background-color: blue;
	}
}
@media only screen and (min-width : $m-tablet) {
    body{
		background-color: purple;
	}
}
@media only screen and (min-width : $m-desktop) {
    body{
		background-color: yellow;
	}
}
@media only screen and (min-width : $l-desktop) {
    body{
		background-color: green;
	}
}
@media only screen and (min-width : $xl-desktop) {
    body{
		background-color: red;
	}
}


