<div id="legal-block-left">

	<span id="legal-close" class="button">FERMER<img src="img/close.svg"></img></span>
		<h1>Mentions légales</h1>
	<div id="legal-block-left-inner">
		<div id="legal-block-text-wrapper">
			<h2>Identification de l’éditeur du site</h2>
				<p>Le présent site est la propriété de la Banque Neuflize OBC, (ci-après " Banque Neuflize OBC"), société anonyme à directoire et conseil de surveillance au capital de 383 507 453 euros, immatriculée au Registre du commerce et des sociétés de Paris sous le numéro 552 003 261 dont le siège social est situé 3, avenue Hoche 75008 Paris, N° de TVA intracommunautaire: FR 90 552 003 261. 
				La Banque Neuflize OBC a été agréée en tant qu’établissement de crédit par le Comité des Etablissements de Crédit et des Entreprises d’Investissement et est soumise à la supervision de l’Autorité de Contrôle Prudentiel (ex Commission bancaire) , à l’Autorité des Marchés Financiers et au contrôle de la DGCCRF.
				Le Directeur de la publication est Madame Valérie Chaussende.
				Ce site est hébergé par CBI Multimedia, 12/16 rue de Vincennes 93100 Montreuil, France. 
				</p>
			
			<h2>Crédits</h2>
				<p><a> Création et conception : </a><a href="http://www.cher-ami.tv">www.cher-ami.tv</a></p>
				<p><a> Sound design : </a><a href="http://www.panarama.fr">www.panarama.fr</a></p>
				<p><a> Voix : </a><a href="https://soundcloud.com/anne-cardona">Anne Cardona</a></p>
			
			<h2>Conditions d’accès et d’utilisation</h2>
				<p>Les visiteurs du Site s’engagent à faire des informations contenues sur le Site un usage personnel et à titre exclusivement informatif et non commercial.</p>
			<h2>Droits de propriété intellectuelle</h2>
				<p>L’intégralité du contenu de ce Site relève du droit d’auteur, droit des marques et plus généralement des droits de propriété intellectuelle, tous droits étant réservés. Toute présentation ou reproduction totale ou partielle des sites de la Banque Neuflize OBC et/ou des éléments y figurant, de même que toute transmission (par voie électronique ou par tout autre moyen), sans autorisation expresse et préalable de celle-ci, sont interdites et constituent une contrefaçon sanctionnée par les articles L.335-2 et suivants du code de la propriété intellectuelle. Toute reproduction totale ou partielle de ces marques, sans autorisation expresse et préalable de la Banque Neuflize OBC, ou de l'entité du groupe ABN AMRO titulaire des droits de propriété sur ladite marque, est interdite. Tout téléchargement ou copie du Site ne transfère aucun droit à un quelconque logiciel ou matériel.</p>
			<h2>Liens</h2>
				<p>
					Les liens hypertextes mis en place sur le présent site, en direction d'autres ressources présentes sur le réseau Internet, ne sauraient engager la responsabilité de la Banque Neuflize OBC, ni des autres entités du groupe ABN AMRO.
					Les visiteurs reconnaissent que les informations, figurant sur le site accessible par un hyperlien, sont sous la responsabilité exclusive du responsable du site accessible par le lien.
					Les visiteurs sont informés qu'ils ne peuvent mettre en place un hyperlien, en direction de sites de la Banque Neuflize OBC, dont le site de banque à distance, ou de sites d'entités du groupe ABN AMRO, sans son autorisation expresse et préalable.
				</p>
			<h2>Mise en garde générale</h2>
				<p>
					Les visiteurs reconnaissent disposer de la compétence et des moyens nécessaires pour utiliser l'Internet ainsi que pour accéder et exploiter les informations contenues dans le présent site.
					Le contenu du présent site est à usage informatif uniquement. Les informations figurant sur le présent site ne sont formulées qu'à titre indicatif. Elles sont élaborées à partir de sources que la Banque de Gestion Neuflize OBC estime fiables et ne sauraient être garanties par elle ou par l'une des entités du groupe ABN AMRO, (que ce soit au regard de leur exactitude, leur fiabilité ou l’exhaustivité des opinions ou informations) compte tenu, notamment, des délais de mise à jour, de traitement et de contrôle à effectuer.
					Elles sont sujettes à modification à tout moment sans notification préalable.
				</p>
			<h2>Restrictions</h2>
				<p>
					Le Site ne s’adresse pas aux personnes se trouvant dans des pays dans lesquels (en raison de la nationalité de ces personnes ou pour d’autres raisons) la publication ou la mise à disposition du Site est interdite. Les personnes concernées par de telles restrictions ne doivent pas accéder au Site. 
				</p>
			<h2>Responsabilité</h2>
				<p>
					Ni la Banque Neuflize OBC ni l’une quelconque des entités du groupe ABN AMRO ne saurait être tenue responsable en cas de mauvaise utilisation du service par le visiteur, en cas d'indisponibilité du service et d'une manière générale, en cas de trouble quelconque, qui pourrait résulter de difficultés liées au fonctionnement du site, tel que cas de force majeure, période de maintenance, défaillance ou perturbation informatique ou de télécommunication, quelles qu'elles soient. Elle ne saurait encourir aucune responsabilité au titre des éléments hors de son contrôle et notamment des dommages aux environnements techniques, matériels, logiciels ou de télécommunication utilisés par les visiteurs pour accéder au Site. Elle ne saurait être tenue responsable des dommages directs et indirects, tels que pertes financières, manque à gagner, perte quelconque résultant d'une erreur ou d'une information consultée sur le Site.
				</p>

			<h2>Traceurs</h2>
			<p>
				L’internaute reconnaît avoir accepté que, lors de l’accès et l’utilisation du site de la Banque Neuflize OBC, les informations concernant les fréquences d’accès et les informations consultées, soient susceptibles d’être recueillies par la Banque Neuflize OBC et permettent de rendre l’utilisation du site plus facile et rapide. Il peut choisir de les refuser en modifiant les paramètres de son navigateur dans la partie options.
			</p>
		</div>
	</div>
</div>
