<div id="left-panel">
	<div class="button" id="light">
		<img src="img/light_off.svg" alt="light"></img>
	</div>
</div>
<div id="right-panel">
	<ul id="menu-right-panel">
		<li class="button"><img src="img/son_on.svg" alt="light"></img></li>
		<li class="button"><img src="img/credit.svg" alt="light"></img></li>
	</ul>
	
</div>
