<div id="wishes-block">
	<h1>{{{wishes.text}}}</h1>
	<div id="wishes-bottom-block">
		<a class="button" href="https://www.neuflizeobc.fr/fr/index.html" target="_blank"><img src="img/logo_grille.svg"></img></a>
		<p>{{wishes.subText}}</p>
	</div>
</div>